* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.memory-game {
  margin-top: -150px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  color: #5c5c5c;
}

.container {
  width: 640px;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #666666;
  margin-bottom: 10px;
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info__moves span {
  color: #ffffff;
}

.info__timer {
  color: white;
}

.memory {
  z-index: 0;
  width: 640px;
  height: 640px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.memory__card {
  width: calc(25% - 20px);
  height: calc(33.333% - 20px);
  margin: 10px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.memory__card:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 7px;
  background: #0e0e0e;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.lider-board {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 500px;
  top: 10%;
  left: 23%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #5c5c5c;
  z-index: 2;
  visibility: hidden;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  line-height: 2;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.visible {
  visibility: visible;
}

.footer {
  color: #ffffff;
}

.footer__container {
  padding: 0px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container span {
  width: 100%;
  color: #ffffff;
}

.footer__github a {
  color: #ffffff;
}

.footer__rolling a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */